---
layout: default
section: home
---
<div>
  {% for section in site.data.sections %}
    {% assign sectionkey = section[0] %}
    {% assign sectionitem = section[1] %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <section id="{{sectionkey}}" class="section-item{% if thecycle == 'odd' %} section-alt{% endif %}">
    <div class="container-fluid">
      {% if (site.data.texts.alert.published and sectionkey == 'home')  %}
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="alert alert-warning text-center alert-dismissible" role="alert">
             <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>{{site.data.texts.alert.text}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if sectionitem.title %}
      <div class="page-title text-center">
        <h2>{{sectionitem.title}}</h2>
        <div class="lead"><p>{{sectionitem.leadin}}</p></div>
      </div>
      {% endif %}
      <div class="section-content container">
        <div class="col-lg-10 col-lg-offset-1">
          {% include  sections/{{sectionkey}}.html %}
        </div>
      </div>
  </div>
  </section>
  {% endfor %}
</div>
