
<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#jail-support">
      {{site.data.texts.calls-to-action.jail-support}}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#post-release">
      {{site.data.texts.calls-to-action.post-release}}
    </a>
  </div>
  </div>
<div class="row">
  <div class="col-md-12 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#arrest-process">
      {{site.data.texts.calls-to-action.arrest-process}}
    </a>
  </div>
  </div>
<div class="row">
  <div class="col-md-4 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#donate">
      {{site.data.texts.calls-to-action.donate}}
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#kyr">
      {{site.data.texts.calls-to-action.kyr}}
    </a>
  </div>
  <div class="col-md-4 text-center">
    <a class="btn btn-lg btn-primary btn-block" href="#updates">
      {{site.data.texts.calls-to-action.updates}}
    </a>
  </div>
</div>
