{% assign nav-style = site.data.config.navbar-theme || 'default'  %}
{% assign nav-behavior = site.data.config.navbar-behavior || 'static-top' %}
<nav class="navbar navbar-{{nav-style}} navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>
      <div id="main-navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {% for section in site.data.sections %}
          {% if page.url == "/" %}
            <li><a href="#{{section[0]}}">{{section[1].menu}}</a></li>
          {% else %}
            <li><a href="{{site.baseurl}}/#{{section[0]}}">{{section[1].menu}}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>
