<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
<!-- <script type="application/javascript" src="js/offline.js"></script> -->
  <script>
  var offline = new Offline(); // options: {document: myDocFragment, useThreads: false}
  if (navigator.onLine)
  {
    offline.prime()
  }
  else
  {
    offline.activate()
  }
  </script>
